<div class="initial-screen">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <h4>Crossover task</h4>
        </div>
    </div>

    <div class="container-fluid">
        <div class="items">
            <div class="row">

                <div class="col-md-2 center"><h4>Changelist/Build</h4></div>
                <div class="col-md-2 center"><h4>Owner</h4></div>
                <div class="col-md-2 center"><h4>Time started</h4></div>
                <div class="col-md-1 col-md-offset-1 center"><h4>State</h4></div>
                <div class="col-md-1 center"><h4>Metrics</h4></div>
                <div class="col-md-1 center"><h4>Build</h4></div>
                <div class="col-md-1 center"><h4>Unit Test</h4></div>
                <div class="col-md-1 center"><h4>Functional Test</h4></div>

            </div>

            <div class="row item animated fadeInUp" ng-repeat="(id, item) in items | orderBy: 'time'" ng-class="{
                'pending' : item.status == 'pending',
                'running' : item.status == 'running',
                'approved' : item.status == 'approved' || item.status == 'completed',
                'rejected' : item.status == 'rejected'}">
                <div item-card item="item" item-id="id"></div>
            </div>

        </div>
    </div>

</div>