<div class="initial-screen">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <h4>Crossover task</h4>
        </div>
    </div>


    <div class="container-fluid">
        <div class="items">
            <div class="row">

                <div class="col-md-2 center"><h4>Changelist/Build</h4></div>
                <div class="col-md-2 center"><h4>Owner</h4></div>
                <div class="col-md-2 center"><h4>Time started</h4></div>
                <div class="col-md-1 col-md-offset-1 center"><h4>State</h4></div>
                <div class="col-md-1 center"><h4>Metrics</h4></div>
                <div class="col-md-1 center"><h4>Build</h4></div>
                <div class="col-md-1 center"><h4>Unit Test</h4></div>
                <div class="col-md-1 center"><h4>Functional Test</h4></div>

            </div>

            <div class="row item approved">

                <div class="item-card row" ng-click="expandItem()">

                    <div class="col-md-2 center">
                        <i class="fa fa-building-o pull-left" aria-hidden="true"></i><p class="pull-left">Item name</p>
                    </div>
                    <div class="col-md-2 center">
                        <p>Owner name</p>
                    </div>
                    <div class="col-md-2 center">
                        <p>Time started</p>
                    </div>
                    <div class="col-md-1 col-md-offset-1 center" ng-class="{'completed' : true, }"><p>Completed</p></div>
                    <div class="col-md-1 center"><uib-progressbar value="90"></uib-progressbar></div>
                    <div class="col-md-1 center"><uib-progressbar value="90"></uib-progressbar></div>
                    <div class="col-md-1 center"><uib-progressbar value="90"></uib-progressbar></div>
                    <div class="col-md-1 center"><uib-progressbar value="90"></uib-progressbar></div>

                </div>

                <div class="expanded-card row" ng-if="expandedItem">
                    <div class="col-md-2">
                        <div class="detail-card metrics">
                            <h5>Metrics</h5>

                            <div class="row">
                                <div class="col-md-6 arrow">
                                    <p><i class="fa fa-arrow-up pull-left success" aria-hidden="true"></i><span>65</span></p>
                                    <span class="desc">Test</span>
                                </div>
                                <div class="col-md-6 arrow">
                                    <p><i class="fa fa-arrow-down pull-left danger" aria-hidden="true"></i><span>65</span></p>
                                    <span class="desc">Maintainability</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 arrow">
                                    <p><i class="fa fa-arrow-right pull-left warning" aria-hidden="true"></i><span>65</span></p>
                                    <span class="desc">Security</span>
                                </div>
                                <div class="col-md-6 arrow">
                                    <p><i class="fa fa-arrow-right pull-left warning" aria-hidden="true"></i><span>65</span></p>
                                    <span class="desc">Workmanship</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail-card build">
                            <h5>Build</h5>

                            <div class="row">
                                <div class="col-md-6 content">
                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                    <p>Debug</p>
                                </div>
                                <div class="col-md-6 content">
                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                    <p>Release</p>
                                </div>
                                <div class="col-md-12 time">
                                    <h6>{{ currentTime | date:'HH:mm - dd/MM/yyyy'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail-card unit-test">
                            <h5>Unit Test</h5>
                            <div class="col-md-8 left">
                                <canvas id="pie" class="chart chart-pie" height="100" width="100" chart-colors="unitPiechart.colors"
                                  chart-data="unitPiechart.data" chart-labels="unitPiechart.labels" chart-options="unitPiechart.options">
                                </canvas> 
                            </div>
                            <div class="col-md-4 right">
                                <h3>75%</h3>
                                <span>Test passed</span>
                            </div>
                            <div class="col-md-12 bar">
                                <uib-progressbar value="55" type="success"></uib-progressbar>
                                <p>73% - code covered</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="detail-card fun-test">
                            <h5>Functional Test</h5>
                            <div class="col-md-8 left">
                                <canvas id="pie" class="chart chart-pie" height="100" width="100" chart-colors="funPiechart.colors"
                                  chart-data="funPiechart.data" chart-labels="funPiechart.labels" chart-options="funPiechart.options">
                                </canvas> 
                            </div>
                            <div class="col-md-4 right">
                                <h3>50%</h3>
                                <span>Test passed</span>
                            </div>
                            <div class="col-md-12 bar">
                                <uib-progressbar value="55" type="success"></uib-progressbar>
                                <p>73% - code covered</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 results">
                        <h3>Results:</h3>

                        <div class="message warning">
                            <h5>{{item.firstMessage}}</h5>
                            <h1>{{item.secondMessage}}</h1>
                        </div>
                    </div>
                </div>


            </div>


            <!-- <div class="row item rejected">
                <div class="col-md-2">
                    <i class="fa fa-laptop pull-left" aria-hidden="true"></i><p class="pull-left">Item name</p>
                </div>
                <div class="col-md-2">
                    <p>Owner name</p>
                </div>
                <div class="col-md-2">
                    <p>Time started</p>
                </div>
                <div class="col-md-1 col-md-offset-1" ng-class="{'completed' : true, }"><p>Rejected</p></div>
                <div class="col-md-1"><uib-progressbar value="90" type="warning"></uib-progressbar></div>
                <div class="col-md-1"><uib-progressbar value="90"></uib-progressbar></div>
                <div class="col-md-1"><uib-progressbar value="90" type="danger"></uib-progressbar></div>
                <div class="col-md-1"><uib-progressbar value="90"></uib-progressbar></div>
            </div> -->

        </div>
    </div>
    
</div>